$font-stack: "Roboto", sans-serif;

// colors
$yellow: #fcbd24;
$orange: #ef6b00;
$gray: #777777;
$pumpkin: #eda56a;
$white: #ffffff;
$black: #363636;
$main-banner-background: #ffa766;
$disabled-step: #ececec;

//variables
$max-content-width: 1330px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-stack;
  text-decoration: none;
  border: none;
}

button {
  user-select: none;
  cursor: pointer;

  &:active {
    opacity: 0.8 important;
  }
}
