@use "base";

.top-header {
  height: 45px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: base.$pumpkin;
  gap: 16px;

  p {
    font-size: 0.875rem;
    color: base.$white;
  }

  span {
    font-weight: bold;
  }

  .divider {
    height: 50%;
    width: 1px;
    background-color: base.$white;
  }
}

.header {
  height: 165px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: base.$white;

  .content {
    width: 100%;
    max-width: base.$max-content-width;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    nav {
      color: base.$gray;
      display: flex;
      width: 100%;

      ul {
        justify-content: center;
        align-items: center;
        width: 100%;
        list-style: none;
        display: flex;
        gap: 45px;

        li,
        a {
          color: base.$black;
          cursor: pointer;
        }

        li {
          button {
            width: 106px;
            height: 36px;
            background-color: base.$yellow;
            border: none;
            color: base.$white;
            font-weight: bold;
            font-size: 16px;
          }

          .chevron-down {
          }
        }
      }
    }

    .navigation-icons {
      display: flex;
      gap: 25px;

      .icon-wrapper {
        position: relative;

        .number-asset {
          position: absolute;
          width: 20px;
          height: 20px;
          background-color: base.$orange;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 50%;
          color: base.$white;
          font-size: 12px;
          top: -10px;
          right: -10px;
        }
      }
    }
  }
}

.main-banner {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: base.$main-banner-background;
  margin-bottom: 75px;

  img {
    width: 100%;
    max-width: 1920px;
    max-height: 700px;
  }
}
